<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>InfluxProxy后台管理系统</title>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link th:href="@{css/bootstrap.min.css?v=3.3.5}" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{css/animate.min.css}" rel="stylesheet">
    <link th:href="@{css/style.min.css?v=4.0.0}" rel="stylesheet">
</head>