<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/iframeInclud :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加节点</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="nodeForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">节点名称：</label>
                            <div class="col-sm-8">
                                <label class="input">
                                    <input id="name" name="name" class="form-control" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label">节点状态：</label>
                            <div class="col-sm-8">
                                <label class="input">
                                    <select style="width: 172px" class="form-control" id="online" name="online">
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">节点链接：</label>
                            <div class="col-sm-8">
                                <label class="input">
                                    <input id="url" name="url" class="form-control" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label">写入超时(ms)：</label>
                        <div class="col-sm-8">
                            <label class="input">
                                <input id="writeTimeout" name="writeTimeout" class="form-control" type="text">
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">查询超时(ms)：</label>
                            <div class="col-sm-8">
                                <label class="input">
                                    <input id="queryTimeout" name="queryTimeout" class="form-control" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-default" type="button" id="close"
                                        onclick="removeIframeWithSwal()">关闭
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<scpript th:include="common/iframeInclud :: footer"></scpript>
<script type="text/javascript" src="/js/appjs/node/add.js"></script>
</body>
</html>